{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block body %}
{% include 'includes/_navbar.html' %}

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            ...
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>
        </div>
    </div>
</div>

<div class="container">
    <!-- <form method=post onsubmit="alert('The message is being processed. You will be redirected.');"> -->
    <form method=post>
        <h2> Your Address: </h2>
           <dl>
                {{ wtf.form_field(form.address)         }}
                {{ wtf.form_field(form.size)            }}
                {{ wtf.form_field(form.yearly_spending) }}
                {{ wtf.form_field(form.yearly_usage)    }}
                {{ wtf.form_field(form.start_point)     }}
                {{ wtf.form_field(form.end_point)     }}
            </dl>
        <div class="modal-body row">
            <div class="col-md-6">
                <img src="http://www.ceska-solarni.cz/images/pics/orientace_dum_fve.jpg">
            </div>
            <div class="col-md-6">
                {{ wtf.form_field(form.roof_50)  }}
                {{ wtf.form_field(form.roof_65)  }}
                {{ wtf.form_field(form.roof_70)  }}
                {{ wtf.form_field(form.roof_75)  }}
                {{ wtf.form_field(form.roof_90)  }}
                {{ wtf.form_field(form.roof_95)  }}
                {{ wtf.form_field(form.roof_100) }}
            </div>
        </div>
        <p>
            <input class="btn btn-primary" type="submit" value="Calculate!" data-toggle="modal" data-target="#exampleModalCenter">
        </p>
    </form>
</div>

{% endblock %}